.main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.sideBar {
    height: 100vh;
    width: 30%;
    border: 1px solid whitesmoke;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.sideBar h1 {
    padding: 10px;
}

.sideBar input {
    padding: 12px;
    border-radius: 10px;
    width: 65%;
    outline: none;
    border: 1px solid gray;
}

.sideBar button {
    width: fit-content;
    color: whitesmoke;
    background-color: black;
    margin: 5px;
    cursor: pointer;
}


.search {
    padding: 25px;
}

.people-message {
    background-color: #202c3346;
    border: 1px solid powderblue;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.people {
    border-top: 1px solid whitesmoke;
}

.chat {
    height: 100vh;
    width: 70%;
    border: 1px solid whitesmoke;
}