.main {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/bgImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 30%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.input input {
    width: fit-content;
    text-align: center;
    padding: 8px;
    font-size: small;
    font-weight: 500;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.content button {
    width: fit-content;
    font-size: large;
    font-weight: 500;
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: #f3cfb7de;
    cursor: pointer;
}

.content a {
    font-size: larger;
    font-weight: 600;
    text-decoration: underline;
    color:rgba(0, 0, 0, 0.9);
}