* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    font-size: medium;
    font-weight: 500;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}


#root {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main {
    width: 340px;
    height: 450px;
    background-color: #283D4E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.display {
    width: 320px;
    height: 15vh;
    background-color: #6D7D8C;
}

.gird-items {
    display: grid;
    grid-template-rows: repeat(4, 80px);
    grid-template-columns: repeat(4, 80px);
}

.display div {
    height: 50%;
    text-align: right;
    font-size: larger;
    font-weight: 500;
    padding: 7px;
}