.main {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/bgImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.main h1 {
    font-size: 54px;
    font-weight: 600;
    color: mediumturquoise;
    text-shadow:
        -1px -1px 0 #0000008a,
        1px -1px 0 #0000008a,
        -1px 1px 0 #0000008a,
        1px 1px 0 #0000008a;
}


.input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input input {
    border-radius: 10px;
    border: 1px solid whitesmoke;
    padding: 9px;
    font-size: 16px;
    font-weight: 500;
}

.main button {
    padding: 5px;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid whitesmoke;

}

.main span a {
    text-decoration: none; 
    color:black; 
}
